@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
  common styling starts
 ========================================================================== */

:root {
  --primery-bg-color : #1e202b;
  --secondary-bg-color : #262936;
  --headline-text-color : #fff;
  --info-text-color : #bfbfbf;
  --button-color : #009ad8;
}

*,
*::after,
*::before { 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body { font-family: 'Roboto', sans-serif; }
ul { list-style: none; }
a { text-decoration: none; }

.wrapper {
  max-width: 1349px;
  width: 79.3%;
  margin: 0 auto;
}

.btn {
  padding: 0 35px;
  border: 2px solid var(--button-color);
  border-radius: 50px;
  background:var(--button-color);
  color: var(--headline-text-color);
  font-size: 13px;
  text-transform: capitalize;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.headline {
  margin-bottom: 19px;
  color: var(--headline-text-color);
  font-size: 34px;
  font-weight: 300;
}

.headline::first-letter { text-transform: capitalize; }

/* ==========================================================================
  Header styling starts
 ========================================================================== */

header { 
  width: 100%;
  background-color: var(--primery-bg-color);
}

header .wrapper,
.logo,
.menu { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

header .wrapper { padding: 47px 0; }

.logo { 
  -webkit-box-flex: 1; 
  -ms-flex: 1; 
  flex: 1; 
}

.navbar { 
  -webkit-box-flex: 3; 
  -ms-flex: 3; 
  flex: 3; 
}

/*----- Logo starts here -----*/

.logoImage { 
  width: 60px;
  margin-right: 13px;
}

.logoImage img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.logoText h1 {
  color: var(--headline-text-color);
  font-size: 15px;
  font-weight: 700;
}

.logoText h1::first-letter { text-transform: capitalize; }

.logoText span {
  color: var(--info-text-color);
  font-size: 9px;
}

/*----- Burger starts here -----*/

.burger { display: none; }

/*----- Navbar starts here -----*/

.menu { float: right; }
.menu-item { margin-left: 11px; }

.menu-item:not(:nth-child(3)),
.menu-item:nth-child(3)::first-letter { text-transform: capitalize; }

.menu-link { 
  padding: 5px 23px;
  border: 2px solid transparent;
  border-radius: 50px;
  color: var(--headline-text-color); 
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.menu-link.active { 
  border-color: var(--button-color);
  color: var(--button-color); 
}

/* ==========================================================================
  Header styling ends
 ========================================================================== */

/* ==========================================================================
  Home page Main styling starts
  ========================================================================== */
  
/*----- Banner starts here -----*/

.home-main .banner {
  width: 100%;
  padding: 66px 0 207px;
  position: relative;
  background: url("../images/banner.png");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-inputs {
  padding: 5px;
  border-radius: 50px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  background-color: var(--primery-bg-color);
}

.input-field {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background-color: var(--primery-bg-color);
  color: var(--headline-text-color);
  font-family: 'Roboto', sans-serif;
}

.input-field:focus { outline: none; }

/*----- Weather report starts here -----*/

.error-container { padding-bottom: 10px; }

.message {
  color: #ffffff;
  font-size: 25px;
  text-transform: capitalize;
}

.weather-report {
  width: 40%;
  border-radius: 10px;
  position: absolute;
  top: 57%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #323544;
}

.report-header {
  padding: 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #2d303d;
  color: var(--info-text-color);
}

.report-header span { 
  font-size: 13px;
  text-transform: capitalize; 
}

.report-details { padding: 35px 20px 28px; }

.report-city {
  margin-bottom: 13px;
  color: var(--info-text-color);
  font-weight: 500;
  text-transform: capitalize; 
}

.temprature-details,
.other-weather-details,
.other-weather-details > li { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.temprature-details { 
  margin-bottom: 13px; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.temrature {
  margin-right: 35px;
  color: var(--headline-text-color);
  font-size: 82px;
  font-weight: 900;
  text-transform: uppercase;
}

.temparture-icon figure,
.temparture-icon figure img {
  width: 86px;
  margin-top: 10px;
}

.temparture-icon figure img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.other-weather-details > li { margin-right: 22px; }
.other-weather-details > li figure { margin-right: 5px; }

.other-weather-details > li span { 
  margin-top: 2px;
  font-size: 14px;
  color: var(--info-text-color);
}

.wind-direction { text-transform: capitalize; }

/*----- Live Cameras starts here -----*/

.live-cameras {
  width: 100%;
  background: var(--primery-bg-color);
}

.live-cameras .wrapper { padding: 238px 0 77px; }

.cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.city { 
  width: calc(249px - 3px); 
  margin-bottom: 19px;
  position: relative;
}

.city figure { margin-bottom: 18px; }

.city figure img {
  width: 100%;
  border-radius: 5px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.city figure::before {
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  z-index: 1;
  top: 28%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url('../images/play-button.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.city-name {
  margin-bottom: 9px;
  color: var(--headline-text-color);
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
}

.city-date-time {
  color: var(--info-text-color);
  font-size: 10px;
}

.uppercase-word { text-transform: uppercase; }

/*----- News section starts here -----*/

.news {
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.news .wrapper { padding: 65px 0 60px; }

.news-posts { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.post { 
  width: calc(342px - 4px); 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.post:not(:last-child) { margin-right: 30px; }

.post-date { 
  margin: 3px 36px 0 0;
  color: var(--button-color);
  font-size: 23px;
  font-weight: 300;
}

.post-headline::first-letter,
.post-description::first-letter,
.capital-letter { text-transform: capitalize; }

.post-headline,
.post-description { font-size: 13px; }

.post-headline {
  margin-bottom: 18px;
  color: var(--headline-text-color);
  font-weight: 500;
}

.post-description {
  margin-bottom: 5px;
  color: var(--info-text-color);
  line-height: 1.6;
}

/* feature-analysis-photos starts here
  ========================================================================== */
  
/*----- Feature starts here -----*/

.feature-analysis-photos-section {
  width: 100%;
  background-color: var(--primery-bg-color);
}

.feature-analysis-photos-section .wrapper { padding: 65px 0; }

.feature-analysis-photos { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.feature-analysis-photos > li { 
  width: calc(344px - 4px);
  margin-bottom: 5px;
}

.feature-analysis-photos > li:not(:last-child) { margin-right: 24px; }
.features .headline { margin-bottom: 17px; }

.feature-item {
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-item .right-arrow { margin-right: 10px; }

.feature-headline::first-letter,
.feature-description::first-letter { text-transform: capitalize; }

.feature-headline {
  margin: 3px 0 18px 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.feature-description {
  color: var(--info-text-color);
  font-size: 13px;
  line-height: 1.6;
}

/*----- Analyssi starts here -----*/

.analyssis-item { 
  padding: 10px 0 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.analyssis-item:not(:last-child) { border-bottom: 1px solid #353844; }
.analyssis-item .right-arrow { margin-right: 7px; } 
.analyssis-info::first-letter { text-transform: capitalize; }

.analyssis-info {
  margin-top: 1px;
  color: var(--info-text-color);
  font-size: 13px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

/*----- photos starts here -----*/

.photos-headline { 
  margin-bottom: 24px;
  text-transform: capitalize; 
}

.gallery-item {
  width: 106px;
  margin-bottom: 10px;
  float: left;
  cursor: pointer;
}

.gallery-item:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)) { margin-right: 10px; }

.photo-wrapper,
.photo-wrapper img { width: 100%; }

.photo-wrapper img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ==========================================================================
  Home page Main styling ends
  ========================================================================== */

/* ==========================================================================
  Footer styling starts
  ========================================================================== */

footer { 
  width: 100%;
  background-color: var(--secondary-bg-color);
}

footer .wrapper { padding: 47px 0px 62px; }

.mail-and-icons { 
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

.email-form { 
  padding-right: 14px;
  -webkit-box-flex: 2; 
  -ms-flex: 2; 
  flex: 2; 
}

.subscribe { padding: 0px 17px; }

/*----- Footer icons starts here -----*/

.footer-icons { 
  -webkit-box-flex: 1; 
  -ms-flex: 1; 
  flex: 1; 
}

.footer-icons { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.footer-icons .icon:first-child { margin-left: 105px; }
.footer-icons .icon { margin-right: 3px; }

.icon-link {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  background: var(--primery-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
  text-indent: -9999px; 
  -webkit-transition:  all .3s ease; 
  -o-transition:  all .3s ease; 
  transition:  all .3s ease;
}

.facebook { background-image: url(../images/facebook.png); }
.twitter { background-image: url(../images/twitter.png); }
.google-plus { background-image: url(../images/google-plus-symbol.png); }

.pintrest { 
  background-image: url(../images/pinterest.png); 
  background-size: 16px;
}

.copy-right-text {
  color: var(--info-text-color);
  font-size: 13px;
  text-transform: capitalize;
}

.lowercase-text { text-transform: lowercase; }

/* ==========================================================================
  Footer styling ends
  ========================================================================== */

/* ==========================================================================
  Media Queries starts
  ========================================================================== */

@media only screen and (min-width: 767px) {

  /* Header starts here
  ========================================================================== */
  .menu-link:hover { color: var(--button-color); }  

  /* Home page main starts here
  ========================================================================== */
  .btn:hover {
    background: var(--headline-text-color);
    color:var(--button-color);
  }

  /*----- feature-analysis-photo starts here -----*/

  .feature-headline:hover,
  .analyssis-info:hover { color: var(--button-color); }

  .gallery-item .photo-wrapper:hover  img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition:  all .3s ease;
    -o-transition:  all .3s ease;
    transition:  all .3s ease;
  }

  /* Footer starts here
  ========================================================================== */
  .facebook:hover { background-image: url(../images/facebook-hover.png); }
  .twitter:hover { background-image: url(../images/twitter-hover.png); }
  .google-plus:hover { background-image: url(../images/google-plus-symbol-hover.png); }
  .pintrest:hover { background-image: url(../images/pinterest-hover.png); }

}

/* ==========================================================================
  Media Queries ends
  ========================================================================== */